@import "tailwindcss";


@font-face{
  font-family: 'RockSalt';
  src: url("../assets/fonts/RockSalt-Regular.ttf");
}

@font-face {
  font-family: "PTSans";
  src: url("../assets/fonts/PTSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../assets/fonts/PTSans-Bold.ttf");
  font-weight: bold;
}

@theme{
  --color-tasty-black: #202020;
  --color-tatsy-red: #FF7660;

  --breakpoint-*: initial;
  --breakpoint-md: 768px;

  --font-sans: 'PtSans', ui-sans-serif, system-ui, sans-serif;
  --font-rock: 'RockSalt';
  --default-transition-duration: .5s;
}

.header{
  @apply bg-tasty-black text-white gap-6 flex flex-col items-center py-6 md:pl-8 md:pr-16 md:justify-end md:items-start;

  
}

.header-logo{
  @apply flex flex-col text-5xl hover:text-tatsy-red transition-colors font-extrabold font-rock;
}

.header-subtitle{
  @apply text-gray-500;
}